.img-container{
  position: relative;
  padding-bottom:65%; /*56.25% hack for aspect ratio 16:9*/
  height:auto;
}
.img-container img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.smooth-image {
  transition: opacity 1s;
  width:100%;
  height:Auto;
}
.image-visible {
  opacity: 1;
}
.image-hidden {
  opacity: 0;
}
.smooth-no-image {
  background-image: linear-gradient(90deg, #ccc, #999, #ccc);
  color: #fff;
}

@keyframes preloader-block {
  from {background-position: 0%, 0;}
  to {background-position: 170%, 0;}
}
.smooth-preloader {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(245, 245, 245, 0.34);
}
.loader {
  background-image: linear-gradient(to right, #bcf095, #ffffff, #bcf095);
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow:hidden;
  background-size: 200%;
  animation: preloader-block 1.5s linear 0s infinite reverse forwards;
}
