/* line 4, ../sass/partials/_base.scss */
html {
  color: #666666;
}

/* line 7, ../sass/partials/_base.scss */
body {
  font-size: 62.5%;
  font-size: 16px;
  font-size: 1em;
  /*line-height: 1.9em;*/
  font-family: Lato;
}

/* line 14, ../sass/partials/_base.scss */
.header-wrap {
  background: url(../img/header.png);
  background-position: center center;
  background-size: cover;
  height: 200px;
}

/* line 20, ../sass/partials/_base.scss */
.title {
  float: left;
  margin: 2% 0 0 2%;
  font-size: 14px;
  font-size: 1.4rem;
  color: white;
}

/* line 26, ../sass/partials/_base.scss */
.titlepre {
  color: #FF9900;
}

/* line 29, ../sass/partials/_base.scss */
.nav-wrap {
  float: right;
  margin: 3% 3% 0 0;
  padding: 3px;
}

/* line 35, ../sass/partials/_base.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 39, ../sass/partials/_base.scss */
nav li {
  padding: 3px 3px 8px 3px;
  display: block;
}
/* line 43, ../sass/partials/_base.scss */
nav a {
  font-size: 11px;
  font-size: 1.1rem;
  text-align: left;
  color: white;
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  border: 1px solid white;
  transition: background-color 1s ease;
}
/* line 52, ../sass/partials/_base.scss */
nav a:hover {
  color: #88E5FF;
  background-color: white;
  text-decoration: underline;
}

/*******SECTIONS**********/
/* line 60, ../sass/partials/_base.scss */
#introduction {
  background: #aeed71;
  padding: 1% 0;
}

/* line 64, ../sass/partials/_base.scss */
#main {
  background: #aeed71;
  padding: 1% 0;
}

/* line 68, ../sass/partials/_base.scss */
#about {
  background: #aeed71;
  margin: 0;
  padding: 1% 0;
}

/* line 73, ../sass/partials/_base.scss */
#works {
  background: #aeed71;
  padding: 1% 0;
  overflow: auto;
}

/* line 78, ../sass/partials/_base.scss */
#contact {
  background: #aeed71;
  padding: 1% 0 3%;
}

/* line 82, ../sass/partials/_base.scss */
#footer-wrap {
  background: #444444;
  color: #999999;
  padding: 0 5px;
  height: 400px;
  text-align: center;
}

/*******CLASSES**********/
/* line 90, ../sass/partials/_base.scss */
.intro-info {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  background: white;
  margin: 0 5%;
  padding: 2%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 3px solid #33aa33;
  text-align: center;
}

/* line 100, ../sass/partials/_base.scss */
.main-info {
  font-size: 11px;
  font-size: 1.1rem;
  background: white;
  margin: 0 5%;
  padding: 0 2%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  text-align: center;
  border: 3px solid #33aa33;
}

/* line 109, ../sass/partials/_base.scss */
.subinfo-left {
  text-align: left;
}

/* line 112, ../sass/partials/_base.scss */
.subinfo-right-border {
  font-size: 8px;
  font-size: 0.8rem;
  /*border-bottom: 3px double $border-color;*/
  text-align: right;
}

/* line 117, ../sass/partials/_base.scss */
.works-box {
  width: 95%;
  border: 2px solid #33aa33;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin: 0px 0px 10px;
  padding: 2%;
  display: inline-block;
}

/* line 125, ../sass/partials/_base.scss */
.works-text {
  border: 1px solid #33aa33;
  font-size: 11px;
  font-size: 1.1rem;
}

/* line 129, ../sass/partials/_base.scss */
.works-text a {
  text-decoration: none;
  color: #33aa33;
}

/* line 133, ../sass/partials/_base.scss */
.works-text a:hover {
  text-decoration: underline;
}

/* line 136, ../sass/partials/_base.scss */
.underline {
  text-decoration: underline;
}

/* line 139, ../sass/partials/_base.scss */
.bold {
  font-weight: bold;
}

/* line 142, ../sass/partials/_base.scss */
.img-flex {
  width: 100%;
  height: auto;
}

/* line 146, ../sass/partials/_base.scss */
.button {
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: .2rem 3rem;
  font-size: 10px;
  font-size: 1rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: white;
  background-color: #33aa33;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
  font-weight: normal !important;
}

/* line 165, ../sass/partials/_base.scss */
.button:hover, .button:focus {
  background-color: #339933;
}

/* line 168, ../sass/partials/_base.scss */
.button:hover, .button:focus {
  color: white;
}

/* line 4, ../sass/partials/_ie-overrides.scss */
.header-wrap {
  background: url(../img/header-ie.png) center center;
  margin: 0 auto;
  /**shame**/
  height: 550px;
}

/* line 9, ../sass/partials/_ie-overrides.scss */
.title {
  font-size: 40px;
}

/* line 12, ../sass/partials/_ie-overrides.scss */
nav li {
  display: inline;
}
/* line 14, ../sass/partials/_ie-overrides.scss */
nav li a {
  font-size: 26px;
}

/* line 18, ../sass/partials/_ie-overrides.scss */
#contact {
  padding: 1% 0;
}

/* line 21, ../sass/partials/_ie-overrides.scss */
.intro-info {
  margin: 0 10%;
  font-size: 26px;
}

/* line 25, ../sass/partials/_ie-overrides.scss */
.main-info {
  margin: 0 10%;
  font-size: 26px;
}

/* line 29, ../sass/partials/_ie-overrides.scss */
.works-box {
  width: 25%;
  margin: 15px;
  display: inline-block;
  zoom: 1;
  /*ie7 hack*/
  *display: inline;
}

/* line 37, ../sass/partials/_ie-overrides.scss */
.button {
  margin: 0 0 14px;
  padding: 7px 40px;
}
