@import 'mixins';
@import 'variables';

.header-wrap{
  background: url(../img/header-ie.png) center center;
  margin:0 auto;/**shame**/
  height:550px;
}
.title{
  font-size:40px;
}
nav li {
    display: inline;
    a{
      font-size:26px;
     }
}
#contact {
  padding:1% 0;
}
.intro-info{
  margin: 0 10%;
  font-size:26px;
}
.main-info{
  margin: 0 10%;
  font-size:26px;
}
.works-box {
 width:25%;
 margin:15px;
 display: inline-block;
 zoom:1;
 /*ie7 hack*/
 *display: inline;
 }
.button {
  margin: 0 0 14px;
  padding: 7px 40px;
}