.contact{
  background: #c7f1a7;
  padding-bottom:30px;
}
.contact h1{
  margin:0;
  padding:50px;
  color:#444444;
  line-height: 1;
  font-weight: 500;
}
@media(min-width:768px){
  .contact h1{
    padding:100px 100px;
  }
}
.contact a{
  display:block;
  width:100px;
  text-align: center;
  padding: 10px 60px;
  margin:0 auto;
  background:#E79658;
  border:1px solid #999999;
  border-radius:8px;
  font-weight: 500;
  color:#ffffff;
  text-decoration:none;
}
.contact a:hover{
  background:#e6a16c;
  border-color: transparent;

}
