.nav{
  background: #A2E9FE;
}
.navbar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media(min-width:992px){
  .navbar{
    padding-top:1rem;
  }
}
.brand{
  padding-top:0.3125rem;
  padding-bottom:0.3125rem;
  color:#333333;
  text-decoration: none;
  white-space: nowrap;
}
.brand-logo{
  vertical-align: top;
  height: 40px;
  width: 40px;
}
.brand span{
  display:inline-block;
  padding-top:6px;
  padding-left:2px;
  font-size:1.2em;
}
.nav-content {
  padding-top: 5px;
}

ul.nav-items{
  padding:0px;
  margin:0;
}
@media (min-width:768px){
  ul.nav-items{
    /* padding-right: 50px; */
  }
}
.nav-item {
  display: inline;
  margin-left:10px;
  font-size:1em;
  color: #777777;
}
@media(min-width:768px){
  .nav-item{
    margin-left:30px;
    font-size: 1em;
  }
}
.nav-item:hover {
  cursor: pointer;
}
.nav-item .active{
}

/* UNDERLINE ANIMATION */
a.fancy-underline, .fancy-underline{
  position: relative;
}
a.fancy-underline:before, .fancy-underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:orange;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.fancy-underline:hover:before, .fancy-underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
