.works{
  background:#bcf095;
}
.works h1{
  margin:0;
  padding:30px;
  text-align: center;
  font-weight: 200;
}
.work{
  display:flex;
  flex-direction: column;
  width:98%;
  margin: 0 auto;
  padding-top: 10px;
}
@media(min-width:768px){
  .work{
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
  }
  .work-reverse{
    flex-direction: row;
    flex-direction: row-reverse;
  }
}
.work img, .imgHook-container{
  width: 90%;
  margin:0 auto;
}
@media(min-width:768px){
  .work img, .imgHook-container{
    width: 60%;
  }
  .work-info{
    width:40%;
  }
}
@media(min-width:992px){
  .work{
    width:86%;
  }
  .work img, .imgHook-container{
    width: 50%;
  }
  .work-info{
    width:50%;
  }
}
.work-info h1{
  padding:10px;
  color:#333333;
  text-align: center;
}
@media(min-width:768px){
  .work-info h1{
  }
}
.work-info ul{
  width:60%;
  margin: 10px auto;
}
@media(min-width:576px){
  .work-info ul{
    width: 30%
  }
}
.work-info ul li{
  list-style-type: circle;
}
.work-info ul li a{
  color: #333333;
  text-decoration: none;
}
.work-info ul li a:hover{
}
