/*************30em-480px**************/
@media only screen and (min-width: 30em) {
 .header-wrap {
    height: 275px;
  }
  nav {
    li {
    display: inline;
    }
  }
}
/*************40em-650px**************/
@media only screen and (min-width: 40em) {
  .header-wrap {
    height: 350px;
  }
  .title{
    @include font-size(2);
  }
    .intro-info {
    margin: 0 10%;
  }
  .intro-info, .main-info{
    @include font-size(1.5);
  }
  .subinfo-right-border {
  @include font-size(1);
  }
  .works-box {
    width: 40%;
  }
}
/*************64em-1024px**************/
@media only screen and (min-width: 64em) {
  .header-wrap {
    height: 450px;
  }
  .title{
  @include font-size(2);
 }
  .main-info {
    padding: 0 4%;
  }
  .works-box {
    width: 28%;
  }
nav a{
 @include font-size(1.2);
}
.intro-info, .main-info{
 @include font-size(1.7);
}
}
/*************80em-1280px**************/
@media only screen and (min-width: 80em) {
  .header-wrap {
    height: 520px;
  }
  .main-info {
    padding: 0 6%;
  }
}
/*************85em-1368px**************/
@media only screen and (min-width: 85.5em) {
  .header-wrap {
    height: 600px;
  }
  .intro-info, .main-info{
 @include font-size(2.5);
}
}
/*************93em-1500px**************/
@media only screen and (min-width: 93.75em) {
  .header-wrap {
    height: 600px;
  }
  .intro-info {
    margin: 0 20%;
  }
  .main-info {
    margin: 0 16%;
  }
}
/*************99em-1888px**************/
@media only screen and (min-width: 99em) {
  .header-wrap {
    height: 750px;
  }
}