html, body{
  padding:0;
  margin:0;
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.container-fluid{
  /* width:100%; */
  padding-right:0.75rem;
  padding-left:0.75rem;
  margin-right:auto;
  margin-left:auto;
}
@media (min-width:992px){
  .container-fluid{
    padding-right:10rem;
    padding-left:10rem;
  }
}
/* FONT SIZING */
h1, p{
  font-size: 1.3em;
}
a, li{
  font-size: 1.1em;
}
@media(min-width:768px){
  h1, p{
    font-size:1.5em;
  }
}
@media (min-width:992px){
  h1, p{
    font-size: 1.7em;
  }
}
